<% if (errors && errors.length > 0) { %>
    <div class="row">
        <div class="col my-3">
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <% errors.forEach(error => { %>
                    <%= error %><br>
                <% }); %>
            </div>
        </div>
    </div>
<% } %>

<% if (success && success.length > 0) { %>
    <div class="row">
        <div class="col my-3">
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <% success.forEach(msg => { %>
                    <%= msg %><br>
                <% }); %>
            </div>
        </div>
    </div>
<% } %>